@font-face {
    font-family: 'Raleway';
    src        : url('../Fonts/Raleway/static/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: 'Raleway2';
    src        : url('../Fonts/Raleway/static/Raleway-Medium.ttf');
}

body {
    font-family     : Raleway;
    background-color: white;
    height          : 100vh;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

.container {
    background-color: #2f80ed;
    height          : 100px;
    color           : whitesmoke;
    font-size       : 2.5rem;
}

.container h1 {
    padding-top: 45px;
    text-align : center;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.block {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows   : minmax(85vh, auto);
    margin               : 400px;
    margin-top           : 10px;
}

.block>* {
    margin: 20px;
}

.border {
    box-shadow: -2px 2px 2px #858484;
}

.container__form {
    background-color: #f7f7f7;

}

.container__lists {
    background-color: #f7f7f7;
}

.title {
    color           : whitesmoke;
    height          : 50px;
    background-color: #2f80ed;
    text-align      : center;
    font-size       : 1.8em;
}

.title h2 {
    padding: 10px;
}

.form {
    margin     : 10px;
    margin-top : 50px;
    color      : #2f80ed;
    font-family: Raleway2;
}

.input {
    width        : 450px;
    height       : 30px;
    border-radius: 5px;
    border       : 1px solid black;
}

.selection {
    width           : 450px;
    height          : 35px;
    border-radius   : 5px;
    background-color: white;
    border          : 1px solid black;
}

.message {
    width        : 450px;
    height       : 100px;
    border-radius: 5px;
    border       : 1px solid black;
}

.button__bloc {
    margin-top: 10px;
    height    : 250px;

}

.button__group {
    position: relative;
    top     : 10px;
}

.button {
    width        : 150px;
    height       : 70px;
    font-size    : 1.5em;
    border-radius: 5px;
    border       : none;
    color        : whitesmoke;
}

.buttonCreer {
    background-color: #2f80ed;
}

.buttonReinit {
    background-color: red;
    margin-left     : 150px;
}

.img__Select {
    position: relative;
    left    : 300px;
    width   : 150px;
    height  : 150px;
}

/*card*/

.card {
    display         : flex;
    padding         : 2%;
    border-bottom   : 1px solid #2f80ed;
    background-color: #f7f7f7;
    color           : #949191;
   
}

.text {
    padding-left: 3%;
    text-align  : justify;
}

.text p {
    margin-bottom: 1%;
}

.para1 {
    justify-content: space-between;
}

.supprimer {
    border-color: #f7f7f7;
    cursor      : pointer;
    padding     : 5px;
    font-weight : bold;
    position    : fixed;
    left        : 75vw;
    font-size   : 25px;
    border      : none;
    color       : rgb(247, 77, 77);
}
.circular {
    width        : 100px;
    height       : 100px;
    border-radius: 50%;
}
